<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="../layui/layui.js"></script>
    <script src="../js/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/style.css">

    <title>Title</title>
    <style>


    </style>
</head>
<body class="layui-layout-body">
main
</body>
<script type="text/javascript">


</script>
</html>